# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  scheduler:
    build:
      context: ./scheduler
    environment:
      - BROKER_URI=amqp://admin:secret@rabbitmq:5672/
      - SECRET_KEY=secret
      - POSTGRES_DB=scheduler_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_HOST=scheduler_db
      - POSTGRES_PORT=5432
    ports:
      - 8001:8001
    depends_on:
      - scheduler_db
      - rabbitmq
    networks:
      - aihub-network

  airena-worker:
    build:
      context: ./airena-worker
    image: aihub/airena-worker:latest
    environment:
      # override BROKER_URI so the container connects to the rabbitmq service on the network
      - BROKER_URI=amqp://admin:secret@rabbitmq:5672/
      - SCHEDULER_BASE_URL=http://scheduler:8001
      - FILE_SERVICE_BASE_URL=http://file-service:3002
      - RESULT_SERVICE_BASE_URL=http://result-service:3003
      - ACCESS_TOKEN=...
      - TASK_QUEUE=default
      - CELERY_CONCURRENCY=1
      - WORKER_NAME=celery
      - ZMQ_PORT=15921
    ports:
      - "15921:15921"
    volumes:
      # writable folder for virtualenvs / temporary grading files
      - ./tmp:/tmp/aivle-worker
    networks:
      - aihub-network
    depends_on:
      - rabbitmq

  scheduler_db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: scheduler_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
    expose:
      - 5432
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - aihub-network

  rabbitmq:
    image: rabbitmq:latest
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: secret
    ports:
      - 5673:5672
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - aihub-network

volumes:
  db-data:
    driver: local
  rabbitmq-data:
    driver: local

networks:
  aihub-network:
    external: true
